// Body
$body-bg: #fcfcfc;    //Este es el color de fondo de la pagina 

// Typography
//Es decir en esta seccion podemos definir tipografias pero la idea es que si queremos cambiar algo en especifico lo hacemos
//  desde nuestro archivo de estilos personales
$font-family-sans-serif: 'Oswald', sans-serif;
$parrafos-font-family: 'Didact Gothic', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$red: #e3342f;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
